### Подготовка датафрейма

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
size = 8737

df = pd.DataFrame(
    {
        'time': [*pd.date_range('2021-01-01', '2021-12-31', freq='1h')][:size],
        'company_id': np.random.choice(1000, size),
        'category': np.random.choice(20, size),
        'amount': np.random.choice(3, size),
        'tariff': np.random.choice(3, size),
        'validity': np.random.choice(4, size),
    },
    index=[*range(size)],
)

In [3]:
df['category'] = df.category.astype('category')
new_categorits = {
    0: 'Service',
    1: 'Hardware/Garden/Home Improvement',
    2: 'Office Supploes',
    3: 'Pets Care',
    4: 'Home/Furniture',
    5: 'Streaming/Online classes/Software license keys',
    6: 'Apparle/Shoes/Accessories',
    7: 'Automovtive',
    8: 'Art/Photography',
    9: 'Health/Beauty',
    10: 'Tobacco/Vape/Smokinh/Marijuana releated products',
    11: 'Adult',
    12: 'Gifts/Flowers/Collctibles',
    13: 'Electronics/Computers',
    14: 'Toys/Crafts/Hobbies',
    15: 'Sports/Fitness/Outdoors',
    16: 'Jewelry',
    17: 'Subscription-based products of servoces',
    18: 'Books/Musics/Video',
    19: 'Food/Bevarage:Primatily e-commerce and shipping',
    20: 'Food/Bevarage:Primatily restaurant/Cafe/Food truck',
}
df['category'] = df.category.cat.rename_categories(new_categorits)

df['amount'] = df['amount'].replace({0: 1000, 1: 2000, 2: 3000})
df['tariff'] = df['tariff'].replace({0: 'VETURE', 1: 'BUSINESS', 2: 'UNLIMITED'})


df['validity'] = df.validity.astype('category')
new_categorits_for_validaty = {
    0: '1 month',
    1: '3 month',
    2: '6 month',
    3: '12 month',
    4: 'No limit'
}
df['validity'] = df.validity.cat.rename_categories(new_categorits_for_validaty)
df['month'] = df['time'].dt.month

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8737 entries, 0 to 8736
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time        8737 non-null   datetime64[ns]
 1   company_id  8737 non-null   int64
 2   category    8737 non-null   category
 3   amount      8737 non-null   int64
 4   tariff      8737 non-null   object
 5   validity    8737 non-null   category
 6   month       8737 non-null   int64
dtypes: category(2), datetime64[ns](1), int64(3), object(1)
memory usage: 427.5+ KB

In [5]:
df.head(30)

,time,company_id,category,amount,tariff,validity,month
0,2021-01-01 00:00:00,102,Gifts/Flowers/Collctibles,1000,BUSINESS,6 month,1
1,2021-01-01 01:00:00,382,Hardware/Garden/Home Improvement,3000,BUSINESS,12 month,1
2,2021-01-01 02:00:00,328,Gifts/Flowers/Collctibles,2000,BUSINESS,1 month,1
3,2021-01-01 03:00:00,760,Toys/Crafts/Hobbies,1000,BUSINESS,1 month,1
4,2021-01-01 04:00:00,176,Apparle/Shoes/Accessories,2000,UNLIMITED,12 month,1
5,2021-01-01 05:00:00,535,Service,3000,UNLIMITED,6 month,1
6,2021-01-01 06:00:00,922,Pets Care,1000,UNLIMITED,6 month,1
7,2021-01-01 07:00:00,905,Food/Bevarage:Primatily e-commerce and shipping,1000,VETURE,3 month,1
8,2021-01-01 08:00:00,524,Books/Musics/Video,2000,VETURE,12 month,1
9,2021-01-01 09:00:00,736,Sports/Fitness/Outdoors,1000,VETURE,6 month,1
10,2021-01-01 10:00:00,486,Gifts/Flowers/Collctibles,3000,UNLIMITED,12 month,1
11,2021-01-01 11:00:00,832,Toys/Crafts/Hobbies,2000,UNLIMITED,6 month,1
12,2021-01-01 12:00:00,420,Toys/Crafts/Hobbies,2000,VETURE,12 month,1
13,2021-01-01 13:00:00,187,Toys/Crafts/Hobbies,3000,UNLIMITED,1 month,1
14,2021-01-01 14:00:00,875,Adult,3000,VETURE,12 month,1
15,2021-01-01 15:00:00,241,Art/Photography,3000,VETURE,1 month,1
16,2021-01-01 16:00:00,571,Home/Furniture,1000,BUSINESS,12 month,1
17,2021-01-01 17:00:00,606,Adult,3000,UNLIMITED,1 month,1
18,2021-01-01 18:00:00,693,Toys/Crafts/Hobbies,3000,VETURE,6 month,1
19,2021-01-01 19:00:00,744,Sports/Fitness/Outdoors,2000,UNLIMITED,6 month,1
20,2021-01-01 20:00:00,574,Apparle/Shoes/Accessories,2000,UNLIMITED,3 month,1
21,2021-01-01 21:00:00,913,Electronics/Computers,2000,VETURE,12 month,1
22,2021-01-01 22:00:00,826,Automovtive,1000,VETURE,12 month,1
23,2021-01-01 23:00:00,149,Office Supploes,3000,UNLIMITED,3 month,1
24,2021-01-02 00:00:00,479,Health/Beauty,2000,VETURE,12 month,1
25,2021-01-02 01:00:00,538,Apparle/Shoes/Accessories,2000,VETURE,1 month,1
26,2021-01-02 02:00:00,34,Jewelry,2000,VETURE,3 month,1
27,2021-01-02 03:00:00,364,Gifts/Flowers/Collctibles,3000,VETURE,12 month,1
28,2021-01-02 04:00:00,913,Office Supploes,3000,BUSINESS,3 month,1
29,2021-01-02 05:00:00,305,Sports/Fitness/Outdoors,2000,UNLIMITED,6 month,1

In [6]:
group_data = df.groupby(df['company_id'])
group_data.head()

,time,company_id,category,amount,tariff,validity,month
0,2021-01-01 00:00:00,102,Gifts/Flowers/Collctibles,1000,BUSINESS,6 month,1
1,2021-01-01 01:00:00,382,Hardware/Garden/Home Improvement,3000,BUSINESS,12 month,1
2,2021-01-01 02:00:00,328,Gifts/Flowers/Collctibles,2000,BUSINESS,1 month,1
3,2021-01-01 03:00:00,760,Toys/Crafts/Hobbies,1000,BUSINESS,1 month,1
4,2021-01-01 04:00:00,176,Apparle/Shoes/Accessories,2000,UNLIMITED,12 month,1
...,...,...,...,...,...,...,...
8650,2021-12-27 10:00:00,523,Food/Bevarage:Primatily e-commerce and shipping,3000,UNLIMITED,1 month,12
8653,2021-12-27 13:00:00,902,Home/Furniture,3000,VETURE,6 month,12
8661,2021-12-27 21:00:00,950,Art/Photography,2000,BUSINESS,1 month,12
8673,2021-12-28 09:00:00,274,Home/Furniture,2000,UNLIMITED,6 month,12
8706,2021-12-29 18:00:00,532,Gifts/Flowers/Collctibles,3000,BUSINESS,1 month,12

In [7]:
df.drop_duplicates(subset='company_id',keep=False,inplace=True)

writer = pd.ExcelWriter('ecwid_1.xlsx')
df.to_excel(writer, index = False)
writer.save()